<template>
  <div style="margin-top: 5%">
    <div style="float: left;margin-left: 13%;width: 40%">
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="用户名" prop="userName" >
          <el-input  v-model="user.userName" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="性 别" prop="userSex" >
          <el-select v-model="value" placeholder="请选择">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="简介" prop="userSummary">
          <el-input
            type="textarea"
            placeholder="请输入内容"
            v-model="user.userSummary"
            maxlength="40"
            rows="5"
            show-word-limit
          >
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm">修改</el-button>
          <el-button @click="resetForm">重置</el-button>
          <el-link :underline="false" style="margin-left: 40%;font-size: 15px" @click="toPhone">修改密码</el-link>
        </el-form-item>
      </el-form>
    </div>
    <div style="float: left;margin-right: 2%;margin-left: 5%">
      <div class="demo-fit">
        <div class="block" v-for="fit in fits" :key="fit">
          <el-avatar shape="circle" :size="200" :fit="fit" :src="user.imgs"></el-avatar>
        </div>
      </div>
      <el-button round="true" style="margin-top: 13%;margin-left: 24%">
        <div @click.stop="uploadHeadImg">
          <div class="caption">更改头像</div>
          <input ref="myfile" type="file" accept="image/*" @change="handleFile" class="hiddenInput"/>
        </div>
      </el-button>
    </div>

    <div class="left">
      <slot name="left">
        <el-dialog title="修改密码" :visible.sync="createFormVisible" width="20%">

          <el-form :model="signUp" status-icon :rules="rules" ref="ruleForm" label-width="20%" class="demo-ruleForm">
            <el-form-item label="手机号码" prop="phone">
              <el-input :disabled="true" v-model="signUp.phone" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="验证码" prop="code">
              <el-input v-model="signUp.code" autocomplete="off" style="width: 55%"></el-input>
              <el-button type="primary" plain style="float: right" v-bind:disabled="dis" @click="sendCode()">{{yzm}}</el-button>
            </el-form-item>

            <el-form-item label="密码" prop="pass">
              <el-input type="password" v-model="signUp.pass" autocomplete="off" show-password='true'></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
              <el-input type="password" v-model="signUp.checkPass" autocomplete="off" show-password='true'></el-input>
            </el-form-item>
          </el-form>

          <div slot="footer" class="dialog-footer">
            <el-button type="text" @click="dialogFormVisible = true,createFormVisible = false" style="margin-right: 35%">返 回</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
            <el-button type="primary" @click="updatePassword(ruleForm)">修改</el-button>
          </div>

        </el-dialog>
      </slot>
    </div>
  </div>
</template>

<script>
    export default {
      name: "EditUser",
      data() {
        var isPhoneNum = /^[0-9]{11}$/;
        var validatePass = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请输入密码'));
          } else {
            if (this.ruleForm.checkPass !== '') {
              this.$refs.signUp.validateField('checkPass');
            }
            callback();
          }
        };
        var validatePass2 = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请再次输入密码'));
          } else if (value !== this.signUp.pass) {
            callback(new Error('两次输入密码不一致!'));
          } else {
            callback();
          }
        };
        var checkPhoneNumber = (rule, value, callback) => {
          if (value === ''){
            callback(new Error('请输入手机号码'));
          }else if (!isPhoneNum.test(value)){
            callback(new Error('手机号码错误'));
          }else if (value[0] === '0'){
            callback('手机号码错误');
          }else {
            callback();
          }
        };
        var checkNumber = (rule, value, callback) => {
          if (value === ''){
            callback(new Error('请输入验证码'));
          }else {
            callback();
          }
        }
        return {
          createFormVisible: false, //显示修改密码
          yzm: '获取验证码',
          dis:false,
          signUp: {
            pass: '',
            checkPass: '',
            phone: '',
            code: '',
          },
          rules: {
            pass: [
              { validator: validatePass, trigger: 'blur' }
            ],
            checkPass: [
              { validator: validatePass2, trigger: 'blur' }
            ],
            phone: [
              { validator: checkPhoneNumber, trigger: 'blur' }
            ],
            code: [
              { validator: checkNumber, trigger: 'blur' }
            ]
          },
          userInfo: {
            avatar: 'https://gss0.bdstatic.com/-4o3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike92%2C5%2C5%2C92%2C30/sign=62d46c39067b020818c437b303b099b6/d4628535e5dde7119c3d076aabefce1b9c1661ba.jpg'
          },
          options: [{
            value: '1',
            label: '男'
          }, {
            value: '2',
            label: '女'
          }, {
            value: '3',
            label: '保密'
          }],
          value: '',
          user: {
            userId: '',
            username: '',
            phone: '',
            sex: '',
            imgs: 'http://47.115.140.130:8080/test/%E5%A4%B4%E5%83%8F.jpg',
            userSummary: '',
          },
          reloadUser: {
            userId: '',
            username: '|肅|',
            phone: '',
            sex: '1',
            imgs: 'http://47.115.140.130:8080/test/%E5%A4%B4%E5%83%8F.jpg',
            userSummary: '',
          },
          follows: '6',
          fans: '12',
          fits: ['fill'],
        }
      },
      methods: {
        updatePassword(formName) {
          const _this = this
          this.$axios.put('http://127.0.0.1:80/user/updatePassword', this.signUp).then(function (res) {
            console.log(res.data)
            const resp = res.data;
            // if (resp.data == 'success') {
            //其他错误时
            if (resp.code !== 200) {
              console.log(resp.code + "111")
              _this.createFormVisible = true;
              //提示对应的错误信息
              _this.$toast.show("验证码错误", 2000);
              return;
            }
            _this.$toast.show("修改成功", 2000);
            _this.createFormVisible = false;
            _this.dialogFormVisible = true;
          })
        },
        toPhone(){
          this.createFormVisible = true;
          this.signUp.phone = this.user.userId
        },
        sendCode() {
          this.checkCode();
        },
        checkCode() {
          const _this = this
          this.$axios.post('http://127.0.0.1:80/user/sendCodeUpdatePass', this.signUp,{
            contentType:{
              'Content-Type': 'application/json;charset=UTF-8'
            },
          }).then(function (resp) {
            if (resp.data.code === 400) {
              _this.createFormVisible = true;
              _this.$toast.show("手机号已存在", 2000);
              return;
            }
            let countdown = 60;
            settime();

            function settime() { //发送验证码倒计时
              if (countdown === 0) {
                _this.dis = false;
                //obj.removeattr("disabled");
                _this.yzm = "获取验证码";
                countdown = 60;
                return;
              } else {
                _this.dis = true;
                _this.yzm = "重新发送(" + countdown + ")";
                countdown--;
              }
              setTimeout(function () {
                  settime()
                }
                , 1000)
            }
          })
        },
        uploadHeadImg: function () {
          this.$el.querySelector('.hiddenInput').click()
        },
        // 将头像显示
        handleFile: function (e) {
          // let myfile = this.$refs.myfile;
          // let files = myfile.files;
          // let img = files[0];
          this.file = e.target.files[0];
          var formData = new FormData();
          formData.append("file", this.file);
          console.log(formData);
          this.$axios.post('http://127.0.0.1:80/user/upload',formData,{
            headers: {
              'Content-Type': 'multipart/form-data',
              'processData':false
            }
          }).then(function (resp) {
            console.log(resp)
            window.localStorage.setItem("updateImgs",resp.data.data);
          })

          let $target = e.target || e.srcElement
          let file = $target.files[0]
          console.log(file)
          var reader = new FileReader()
          reader.onload = (data) => {
            let res = data.target || data.srcElement
            this.userInfo.avatar = res.result
            this.user.imgs =this.userInfo.avatar
          }
          reader.readAsDataURL(file)
        },
        submitForm() {
          let _this = this
          this.$confirm('少年真的想重新做人了吗？', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'info'
          }).then(() => {
            this.user.sex = this.value
            this.user.imgs = window.localStorage.getItem("updateImgs");
            // console.log(this.user)
            this.$axios.put('http://127.0.0.1:80/user/update',this.user).then(function (resp) {
              const res = resp.data;
              if (res.code != 200) {
                _this.$toast.show("修改失败", 2000);
                return;
              }
              _this.$toast.show("修改成功", 2000);
              window.localStorage.setItem('currentUserInfo',JSON.stringify(res.data));
              console.log(res.data)
              // _this.updateLocalstrage(res.data)
              console.log(window.localStorage.getItem('currentUserInfo'));
              _this.$router.push('/userInfo');
              setTimeout(()=> {
                location.reload();
                },500)
            })
            // alert(this.user.imgs+'||'+this.user.username+''+this.user.sex)
          //   this.$message({
          //     type: 'success',
          //     message: '修改成功!'
          //   });
          //   // window.localStorage.setItem("currentUserInfo",this.user)
          //   // alert(window.localStorage.getItem("currentUserInfo"))
          //   this.$router.push('/userInfo')
          // }).catch(() => {
          //   this.$message({
          //     type: 'info',
          //     message: '已取消修改'
          //   });
          });
        },
        resetForm(){
          this.user.username = this.uName
          this.user.imgs = this.img
          this.user.userSummary = this.summary
          this.value = this.reloadUser.sex
        }
      },
      created() {
        this.user = this.$route.query.user
        this.uName = this.$route.query.user.username
        this.img = this.$route.query.user.imgs
        this.summary = this.$route.query.user.userSummary
        this.value = this.$route.query.user.sex
        window.localStorage.setItem("updateImgs",this.img)
      }
    }
</script>

<style scoped>
  .head_img img{
    width:90px;
    height:90px;
    border-radius:50px
  }
  .hiddenInput{
    display: none;
  }
  .caption {
  }
  .left {
    /* float: left; */
    margin-left: 20px;
    margin-top: 10px;
  }
</style>
