<template>
  <div id="topbar">
    <div class="left">
      <slot name="left">
        <a href="#">
          <img v-if="currentUserInfo" :src="currentUserInfo.imgs" @click="userInformation" alt="404"/>
          <img v-else :src="userImg" alt="404"/>
        </a>
        <span style="fontSize:13px;" v-if="currentUserInfo" @click="userInformation">{{currentUserInfo.userName}}</span>
        <el-button type="text" @click="dialogFormVisible = true" style="color:#fff" v-else>登录</el-button>
        <el-button
          @click="logout"
          v-if="currentUserInfo !== null"
          size="mini"
          style="margin-top: 10px;margin-left: 15px;"
        >退出
        </el-button>
        <el-dialog title="请登录~~~" :visible.sync="dialogFormVisible" width="18%">
          <img
            src="~assets/img/login/phone.png"
            style="display: block;margin: 10px auto;width:18%"
            alt
          />
          <el-form :model="user" :rules="loginInfoRules">
            <el-form-item label="手机号" :label-width="formLabelWidth">
              <el-input v-model="user.userId" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="密码" :label-width="formLabelWidth">
              <el-input v-model="user.password" autocomplete="off" type="password"></el-input>
              <el-button type="text" @click="dialogFormVisible = false,forgetFormVisible = true" style="margin-left: 70%">忘记密码?</el-button>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button type="text" @click="dialogFormVisible = false,createFormVisible = true" style="margin-right: 25%">注 册</el-button>
            <el-button @click="cancelLogin">取 消</el-button>
            <el-button type="primary" @click="confirmLogin">确 定</el-button>
          </div>
        </el-dialog>

        <el-dialog title="欢迎注册" :visible.sync="createFormVisible" width="20%">

          <el-form :model="signUp" status-icon :rules="rules" ref="ruleForm" label-width="20%" class="demo-ruleForm">
            <el-form-item label="手机号码" prop="phone">
              <el-input v-model="signUp.phone" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="验证码" prop="code">
              <el-input v-model="signUp.code" autocomplete="off" style="width: 55%"></el-input>
              <el-button type="primary" plain style="float: right" v-bind:disabled="dis" @click="sendCode()">{{yzm}}</el-button>
            </el-form-item>

            <el-form-item label="密码" prop="pass">
              <el-input type="password" v-model="signUp.pass" autocomplete="off" show-password='true'></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
              <el-input type="password" v-model="signUp.checkPass" autocomplete="off" show-password='true'></el-input>
            </el-form-item>


          </el-form>

          <div slot="footer" class="dialog-footer">
            <el-button type="text" @click="dialogFormVisible = true,createFormVisible = false" style="margin-right: 35%">返 回</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
            <el-button type="primary" @click="submitForm(ruleForm)">注册</el-button>
          </div>

        </el-dialog>

        <el-dialog title="找回密码" :visible.sync="forgetFormVisible" width="20%">

          <el-form :model="forUser" status-icon :rules="frules" ref="ruleForm" label-width="20%" class="demo-ruleForm">
            <el-form-item label="手机号码" prop="phone">
              <el-input v-model="forUser.phone" autocomplete="off"></el-input>
            </el-form-item>

            <el-form-item label="验证码" prop="code">
              <el-input v-model="forUser.code" autocomplete="off" style="width: 55%"></el-input>
              <el-button type="primary" plain style="float: right" v-bind:disabled="disFor" @click="sendforCode()">{{yzmFor}}</el-button>
            </el-form-item>

            <el-form-item label="密码" prop="pass">
              <el-input type="password" v-model="forUser.pass" autocomplete="off" show-password='true'></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="checkPass">
              <el-input type="password" v-model="forUser.checkPass" autocomplete="off" show-password='true'></el-input>
            </el-form-item>


          </el-form>

          <div slot="footer" class="dialog-footer">
            <el-button type="text" @click="dialogFormVisible = true,forgetFormVisible = false" style="margin-right: 35%">返 回</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
            <el-button type="primary" @click="forgetSubmitForm(ruleForm)">确认修改</el-button>
          </div>

        </el-dialog>

      </slot>
    </div>
    <div class="center">
      <slot name="center">
        <div>
          <a href='javascript:void(0)' @click.stop="togBack">
            <i class="el-icon-arrow-left"></i>
          </a>
        </div>
        <div>
          <a href>
            <i class="el-icon-refresh"></i>
          </a>
        </div>
        <div class="inputSq">
          <el-input
            size="mini"
            class="inputt"
            placeholder="请输入内容"
            v-model="input"
            clearable
            suffix-icon="el-icon-search"
            @keyup.enter.native="togSearch"
          ></el-input>
        </div>
        <div>
          <a href>
            <i class="el-icon-microphone"></i>
          </a>
        </div>
      </slot>
    </div>
    <div class="right">
      <slot name="right">
        <a href>回到旧版</a>
        <a href>
          <i class="el-icon-monitor"></i>
        </a>
        <a href>
          <i class="el-icon-mobile-phone"></i>
        </a>
        <a href>
          <i class="el-icon-menu"></i>
        </a>
        <a href>
          <i class="el-icon-s-opportunity"></i>
        </a>
        <a href>
          <i class="el-icon-setting"></i>
        </a>
        <a href>
          <i class="el-icon-bell"></i>
        </a>
        <a href>
          <i class="el-icon-close"></i>
        </a>
      </slot>
    </div>
  </div>
</template>

<script>
  import {
    getPhoneLogin,
    getPhoneLoginOut,
    getUserSonglist,
  } from "network/login";
  import {USER_SONGLIST} from '@/store/mutationType'

  export default {
    name: "TopBar",
    data() {
      var isPhoneNum = /^[0-9]{11}$/;
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.signUp.validateField('checkPass');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.signUp.pass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      var checkPhoneNumber = (rule, value, callback) => {
        if (value === ''){
          callback(new Error('请输入手机号码'));
        }else if (!isPhoneNum.test(value)){
          callback(new Error('手机号码错误'));
        }else if (value[0] === '0'){
          callback('手机号码错误');
        }else {
          callback();
        }
      };
      var checkNumber = (rule, value, callback) => {
        if (value === ''){
          callback(new Error('请输入验证码'));
        }else {
          callback();
        }
      };
      var fvalidatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.forUser.validateField('checkPass');
          }
          callback();
        }
      };
      var fvalidatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.forUser.fpass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      var fcheckPhoneNumber = (rule, value, callback) => {
        if (value === ''){
          callback(new Error('请输入手机号码'));
        }else if (!isPhoneNum.test(value)){
          callback(new Error('手机号码错误'));
        }else if (value[0] === '0'){
          callback('手机号码错误');
        }else {
          callback();
        }
      };
      var fcheckNumber = (rule, value, callback) => {
        if (value === ''){
          callback(new Error('请输入验证码'));
        }else {
          callback();
        }
      }
      return {
        yzm: '获取验证码',
        yzmFor: '获取验证码',
        dis:false,
        signUp: {
          pass: '',
          checkPass: '',
          phone: '',
          code: '',
        },
        forUser: {
          pass: '',
          checkPass: '',
          phone: '',
          code: '',
        },
        rules: {
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur' }
          ],
          phone: [
            { validator: checkPhoneNumber, trigger: 'blur' }
          ],
          code: [
            { validator: checkNumber, trigger: 'blur' }
          ]
        },
        frules: {
          fpass: [
            { validator: fvalidatePass, trigger: 'blur' }
          ],
          fcheckPass: [
            { validator: fvalidatePass2, trigger: 'blur' }
          ],
          fphone: [
            { validator: fcheckPhoneNumber, trigger: 'blur' }
          ],
          fcode: [
            { validator: fcheckNumber, trigger: 'blur' }
          ]
        },
        input: "",// 关联输入框内容
        dialogFormVisible: false, //显示登陆框
        createFormVisible: false, //显示注册框
        forgetFormVisible: false, //显示忘记密码框
        userImg:
          window.localStorage.getItem("currentUserInfo") === "null"
            ? require("assets/img/common/logo.png")
            : JSON.parse(window.localStorage.getItem("currentUserInfo")).imgs,
        currentUserInfo:
          window.localStorage.getItem("currentUserInfo") === "null"
            ? null
            : JSON.parse(window.localStorage.getItem("currentUserInfo")),//查看浏览器是否已存有数据
        // currentUserPlayList: [],
        loginInfoRules: {
          userId: [{required: true, message: " ", trigger: "blur"}],
          password: [{required: true, message: " ", trigger: "blur"}],
        },// 登录格式的校验
        user: {
          userId: '',
          password: ''
        },// 默认给个数据，方便测试
        formLabelWidth: "80px", //登录内输入框的宽度
      };
    },
    methods: {
      sendCode() {
        this.checkCode();
      },
      checkCode() {
        const _this = this
        this.$axios.post('http://127.0.0.1:80/user/sendCode', this.signUp,{
          contentType:{
            'Content-Type': 'application/json;charset=UTF-8'
          },
        }).then(function (resp) {
          if (resp.data.code === 400) {
            _this.createFormVisible = true;
            _this.$toast.show("手机号已存在", 2000);
            return;
          }
          let countdown = 60;
          settime();

          function settime() { //发送验证码倒计时
            if (countdown === 0) {
              _this.dis = false;
              //obj.removeattr("disabled");
              _this.yzm = "获取验证码";
              countdown = 60;
              return;
            } else {
              _this.dis = true;
              _this.yzm = "重新发送(" + countdown + ")";
              countdown--;
            }
            setTimeout(function () {
                settime()
              }
              , 1000)
          }
        })
      },
      sendforCode() {
        this.checkforCode();
      },
      checkforCode() {
        const _this = this
        this.$axios.post('http://127.0.0.1:80/user/sendCodeUpdatePass', this.forUser,{
          contentType:{
            'Content-Type': 'application/json;charset=UTF-8'
          },
        }).then(function (resp) {
          if (resp.data.code === 400) {
            _this.createFormVisible = true;
            _this.$toast.show("手机号已存在", 2000);
            return;
          }
          let countdown = 60;
          settime();

          function settime() { //发送验证码倒计时
            if (countdown === 0) {
              _this.disFor = false;
              //obj.removeattr("disabled");
              _this.yzmFor = "获取验证码";
              countdown = 60;
              return;
            } else {
              _this.disFor = true;
              _this.yzmFor = "重新发送(" + countdown + ")";
              countdown--;
            }
            setTimeout(function () {
                settime()
              }
              , 1000)
          }
        })
      },
      submitForm(formName) {
        const _this = this
        this.$axios.post('http://127.0.0.1:80/user/insert', this.signUp).then(function (res) {
          console.log(res.data)
          const resp = res.data;
          // if (resp.data == 'success') {
          //其他错误时
          if (resp.code !== 200) {
            console.log(resp.code + "111")
            _this.createFormVisible = true;
            //提示对应的错误信息
            _this.$toast.show("验证码错误", 2000);
            return;
          }
          _this.createFormVisible = false;
          _this.dialogFormVisible = true;
          _this.forgetFormVisible = false;
        })
      },
      forgetSubmitForm(formName){
        // alert('找回密码')
        const _this = this
        this.$axios.put('http://127.0.0.1:80/user/updatePassword', this.forUser).then(function (res) {
          console.log(res.data)
          const resp = res.data;
          // if (resp.data == 'success') {
          //其他错误时
          if (resp.code !== 200) {
            console.log(resp.code + "111")
            _this.createFormVisible = true;
            //提示对应的错误信息
            _this.$toast.show("验证码错误", 2000);
            return;
          }
          _this.$toast.show("修改成功", 2000);
          _this.createFormVisible = false;
          _this.dialogFormVisible = true;
          _this.forgetFormVisible = false;
        })
      },
      //用户个人信息
      userInformation() {
        this.$router.push('/userInfo')
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },
      //返回
      togBack() {
        this.$router.back();
      },
      //搜索框有数据则跳转页面
      togSearch() {
        if (this.input === '') {
          this.$toast.show("不能为空哦~", 2000);
          return;
        }
        this.$router.push('/search' + this.input)
      },
      //获取用户的歌单 放到vuex上
      getUserSonglist(userId) {
        getUserSonglist(userId).then((res) => {
          console.log(res.data);//xuqy这里会获取到歌单列表
          this.$store.commit(USER_SONGLIST, res.data);
        });
      },
      //退出接口登录 告诉接口已退出 并还原数据等操作
      getPhoneLoginOut() {
        getPhoneLoginOut().then((res) => {
          console.log(res);
          //当前用户信息设置为null
          this.currentUserInfo = null;
          //存储用户信息的localstorage设置为null
          window.localStorage.setItem("currentUserInfo", null);
          this.userImg = require("assets/img/common/logo.png");
          this.$store.commit(USER_SONGLIST, []);
        });
      },
      //退出登录
      logout() {
        this.$axios.post('http://127.0.0.1:80/logout')
        console.log("退出登录");
        //跳转到主页面
        this.$router.push('/home/rtstyle');
        this.getPhoneLoginOut();
      },
      //点击登录界面的 取消
      cancelLogin() {
        this.dialogFormVisible = false;
      },
      //点击登录页面的 确定
      confirmLogin(user) {
        // this.getPhoneLogin(this.form.phone, this.form.password);
        // console.log(this.form.phone, this.form.password);
        const _this = this
        this.$axios.post('http://127.0.0.1:80/login',this.user).then(function (res) {
          console.log(res.headers.authorization)
          console.log(res)
          const resp = res.data;
          // if (resp.data == 'success') {
          // alert("憨批北野")
          console.log(resp)
          if (resp === undefined) {
            //登录框不消失
            _this.dialogFormVisible = true;
            //弹出提示信息
            _this.$toast.show("该手机号码不存在或未注册", 2000);
            return;
          }
          //其他错误时
          if (resp.code !== 200) {
            if (resp.code === 403) {
              console.log(resp.code + "111")
              _this.dialogFormVisible = true;
              //提示对应的错误信息
              _this.$toast.show("用户名或密码错误", 2000);
              return;
            }
            console.log(resp.code + "111")
            _this.dialogFormVisible = true;
            //提示对应的错误信息
            _this.$toast.show("登录失败", 2000);
            return;
          }
          // 保存cookie的信息
          window.localStorage.setItem("token", res.headers.authorization);
          // 保存用户信息,退出时删除
          window.localStorage.setItem(
            "currentUserInfo",
            JSON.stringify(resp.data)
          );
          console.log(JSON.stringify(resp.data))
          //放入用户的信息 图片 登录框禁止 提示
          _this.currentUserInfo = resp.data;
          console.log(resp.data);
          _this.userImg = _this.currentUserInfo.imgs;
          _this.dialogFormVisible = false;
          _this.forgetFormVisible = false;
          _this.$toast.show(`欢迎你${_this.currentUserInfo.userName}`, 2000);
          _this.getUserSonglist(_this.currentUserInfo.userId);
        })
      },
      // 验证登录账户和密码
      // getPhoneLogin(phone, pwad) {
      // getPhoneLogin(phone, pwad).then((res) => {
      //     // console.log(res);
      //     //信息不符时
      //     if (res === undefined) {
      //       //登录框不消失
      //       this.dialogFormVisible = true;
      //       //弹出提示信息
      //       this.$toast.show("该手机号码不存在或未注册", 2000);
      //       return;
      //     }
      //     //其他错误时
      //     if (res.code !== 200) {
      //       this.dialogFormVisible = true;
      //       //提示对应的错误信息
      //       this.$toast.show(res.message, 2000);
      //       // console.log(res.message);
      //       return;
      //     }
      //     // 保存cookie的信息
      //     window.localStorage.setItem("musicCookie", res.cookie);
      //     // 保存用户信息,退出时删除
      //     window.localStorage.setItem(
      //       "currentUserInfo",
      //       JSON.stringify(res.profile)
      //     );
      //     //放入用户的信息 图片 登录框禁止 提示
      //     this.currentUserInfo = res.profile;
      //     this.userImg = this.currentUserInfo.avatarUrl;
      //     this.dialogFormVisible = false;
      //     this.$toast.show(`欢迎你${this.currentUserInfo.nickname}`, 2000);
      //     this.getUserSonglist(this.currentUserInfo.userId);
      //   });
      // },
    },
    created() {
      //判断本地是否有用户信息
      if (this.currentUserInfo) {
        this.userImg = this.currentUserInfo.imsg;
        this.getUserSonglist(this.currentUserInfo.userId);
      }
    },
  };
</script>
<style>
  .input input.el-input__inner {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    color: #888;
  }
</style>

<style scoped>
  .right {
    /* float: right; */
    margin-top: 18px;
  }

  .right a {
    color: rgba(255, 255, 255, 0.8);
    margin-right: 15px;
    text-decoration: none;
    font-size: 13px;
  }

  .right a:last-child {
    margin-right: 200px;
    font-size: 19px;
  }

  .right a:hover {
    color: #fff;
  }

  .center {
    color: #fff;
    /* position: absolute;
    left: 330px;
    top: 15px; */
    margin-top: 4px;
    display: flex;
    justify-content: space-around;
  }

  /* .center > div {
    float: left;
  } */
  #topbar {
    height: 60px;
    background: #5292fe;
    padding: 10px;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }

  .inputSq {
    width: 360px;
    margin-left: 15px;
    margin-top: 12px;
  }

  .center a i {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    margin-top: 15px;
  }

  .center a i:hover {
    color: rgba(255, 255, 255, 1);
  }

  .left {
    /* float: left; */
    margin-left: 20px;
    margin-top: 10px;
  }

  .left a > img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .left a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 5px;
  }

  .el-row {
    margin-bottom: 20px;
    background-color: #5292fe;
    width: 100%;
  }

  .el-col {
    border-radius: 4px;
  }

  .bg-purple-dark {
    background: #5292fe;
  }

  .bg-purple {
    background: blue;
  }

  .bg-purple-light {
    background: #5292fe;
  }

  .grid-content {
    border-radius: 4px;
    min-height: 80px;
  }

  .row-bg {
    padding: 10px 0;
    background-color: #5292fe;
  }
</style>
