<template>
    <div style="margin-top: 5%">
      <div style="float: left;margin-left: 2%">
        <div class="demo-fit">
          <div class="block" v-for="fit in fits" :key="fit">
            <el-avatar shape="circle" :size="200" :fit="fit" :src="user.imgs"></el-avatar>
          </div>
          <center>
            <img v-if="user.sex === '1'" src="http://47.115.140.130:8080/sexImgs/man.png" style="height: 20px;width: 20px;margin-top: 5%">
            <img v-if="user.sex === '2'" src="http://47.115.140.130:8080/sexImgs/woman.png" style="height: 20px;width: 20px;margin-top: 5%">
          </center>
        </div>
      </div>
      <div style="float: left;margin-left: 2%;width: 64%;margin-top: 1%;">
        <div>
          <div>
            <a style="font-size: 24px;font-weight:bold;margin-left: 3%">{{user.userName}}</a>
            <el-button round icon="el-icon-edit" style="float: right" @click="edit(user)">编辑个人信息</el-button>
          </div>
        </div>
        <br>
        <hr/>
        <div>
          <div style="margin-top: 2%">
          <div style="width: 10%;float: left;border-right: 1px solid #8c8b8b;=">
            <center>
            <a style="color: black">
              <strong style="font-size: 20px;font-weight:bold">{{follows}}</strong><br>
              <span style="line-height: 200%;color: #808080;">关注</span>
            </a>
            </center>
          </div>
          <div style="width: 10%;float: left">
            <center>
            <a style="color: black">
              <strong style="font-size: 20px;font-weight:bold">{{fans}}</strong><br>
              <span style="line-height: 200%;color: #808080;">粉丝</span>
            </a>
            </center>
          </div>
        </div>
        </div>
<!--        <div style="margin-top: 10%;margin-left: 3%">-->
<!--          性别：-->
<!--          <a v-if="user.sex === '1'" style="color: #808080;">男</a>-->
<!--          <a v-if="user.sex === '2'" style="color: #808080;">女</a>-->
<!--          <a v-if="user.sex === '3'" style="color: #808080;">保密</a>-->
<!--        </div>-->
        <br>
        <div style="margin-left: 3%;margin-top: 7%">
          <div style="float: left;color: #808080">简介：</div>
          <div style="width: 60%;margin-right: 40%;float: right">
            <p style="line-height: 150%;text-indent: 3em;">{{user.userSummary}}</p>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import {getFansNum, getUserInfo, guanZhuShu} from "../../../network/user";

    export default {
      name: "UserInfo",
      data() {
        return {
          user: [],
          follows: '8',
          fans: '88',
          fits: ['fill'],
        }
      },
      methods: {
        edit(info) {
          this.$router.push({
            path: '/editUser',
            query: {
              user: info
            }
          })
        }
      },
      created() {
        var userId = JSON.parse(window.localStorage.getItem("currentUserInfo")).userId

        getUserInfo(userId).then(res=>{
          console.log(res.data)
          this.user = res.data;
        })
        guanZhuShu(userId).then(res=>{
          this.follows = res.data
        })
        getFansNum(userId).then(res=>{
          this.fans = res.data
          console.log("粉丝数："+res.data)
        })

      }
    }

</script>

<style scoped>

</style>
