<template>
  <div>
    <div style="float: left;width: 50%;margin-top: 5%">
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
      <el-form-item label="歌单名" prop="songListName" >
        <el-input  v-model="ruleForm.songListName" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="简介" prop="age">
        <el-input
          type="textarea"
          placeholder="请输入内容"
          v-model="ruleForm.songSummary"
          maxlength="300"
          rows="8"
          show-word-limit
        >
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm">保存</el-button>
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
    </div>
    <div class="demo-fit" style="float: right;margin-right: 20%;margin-top: 5%">
      <div class="block" v-for="fit in fits" :key="fit">
        <span class="title"></span>
        <el-avatar shape="square" :size="230" :fit="fit" :src="url"></el-avatar>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      name: "EditSongTable",
      data() {
        var checkListName = (rule, value, callback) => {
          if (!value) {
            return callback(new Error('歌单名不能为空'));
          }
        };
        return {
          textarea: '',
          fits: ['fill'],
          url: '..\\default_avatar.jpeg',
          ruleForm: {
            id: '',
            songListId: '',
            songListName: '',
            songSummary: '',
            userId: '',
          },
          rules: {
            listName: [
              { validator: checkListName, trigger: 'blur' }
            ]
          }
        };
      },
      methods: {
        sleep(time) {
          var startTime = new Date().getTime() + parseInt(time, 10);
          while(new Date().getTime() < startTime) {}
        },
        submitForm() {
          this.$axios.put('http://127.0.0.1:80/songsheet/update',this.ruleForm)
          this.$message({
            type: 'success',
            message: '成功保存歌单信息'
          });
          // this.$refs['LeftMenu'].sayHi
          this.$destroy(true)
          this.$router.push("/home/rtstyle");
        },
        resetForm(formName) {
          this.$refs[formName].resetFields();
          this.ruleForm.songSummary = this.textarea
          this.url = JSON.parse(localStorage.getItem('songListImg'))
        },
        OnCreated(){
          var songSheetInfo = JSON.parse(localStorage.getItem('songSheetInfo'));
          var songListImg = JSON.parse(localStorage.getItem('songListImg'))
          console.log(songSheetInfo)
          console.log(songListImg)
          this.ruleForm = songSheetInfo
          this.url = songListImg
          localStorage.removeItem('songListImg');
          localStorage.removeItem('songSheetInfo')
        }
      },
      created() {
        console.log("执行了")
        this.OnCreated()
      }
    }
</script>

<style scoped>

</style>
