<template>
  <div class="search">
    <h2 style="color:#888;fontSize:14px;">
      搜索
      <span style="color:#5292fe">“{{keywords}}”</span>结果如下
    </h2>
    <div style="width:90%;margin:0 auto;marginTop:10px;">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="歌曲" name="first" class="tabs">
          <el-table :data="playList" style="width: 100%" :lazy="true" @row-dblclick="playMusicList">
            <el-table-column type="index" width="70"></el-table-column>
            <el-table-column label="操作" width="70">
              <a href class="icon" slot-scope="scope" @click.prevent.stop="addCollect(scope.row.id)">
                <i v-bind:class="iconClass" v-show="true"
                   v-bind:style="color"></i>
                <!-- <i class="el-icon-star-on" ></i> -->
              </a>
              <a href="#" class="icon">
                <i class="el-icon-download"></i>
              </a>
            </el-table-column>
            <el-table-column prop="name" label="音乐标题" width="280"></el-table-column>
            <el-table-column prop="artists[0].name" label="歌手" width="200"></el-table-column>
            <el-table-column prop="album.name" label="专辑"></el-table-column>
            <el-table-column label="时长" width="100">
              <span slot-scope="scope">{{scope.row.duration | showTime}}</span>
            </el-table-column>
          </el-table>
          <el-dialog title="选择要加入的歌单" :visible.sync="dialogFormVisible" width="20%">
            <el-form :model="form">
              <el-form-item label="我的歌单" :label-width="formLabelWidth">
                <el-select v-model="form.region" placeholder="请选择要加入的歌单">
                  <el-option v-for="(item,index) in getUserSonglist"
                             :key="item.id"
                             :value="item.id"
                             :label="item.songListName">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
              <el-button @click="dialogFormVisible = false">取 消</el-button>
              <el-button type="primary" @click="addSongToSongList(form.region,currIndex)">确 定</el-button>
            </div>
          </el-dialog>
        </el-tab-pane>
        <el-tab-pane label="用户" name="second" @click="searchUser">
          <div class="searchUser" style="">
            <div class="searchUser-box" style="width: 100%" v-for="item in user" :key="item.id" @click="togUser(item.userId)" >
              <el-avatar :size="90" :src="item.imgs"
                   alt='404'/>
              <div style="float: right;width: 90%;line-height: 90px">{{item.userName}}
                <img v-if="item.sex === '1'" src="http://47.115.140.130:8080/sexImgs/man.png" style="height: 15px;width: 15px;">
                <img v-if="item.sex === '2'" src="http://47.115.140.130:8080/sexImgs/woman.png" style="height: 15px;width: 15px;">
              <p style="float: right;line-height: 90px;color: #999999">{{item.userSummary}}</p>
              </div>
              <hr style="background-color: #E4E7ED;border: none;height: 2px"/>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import {getSearchAll} from "network/search";
  import {timeFormat} from "common/uctil";
  import {getMusicUrl, getMusicMenu} from "network/home";
  import {NOW_MUSICMENU, NOW_MUSIC} from "@/store/mutationType";

  export default {
    name: "SearchMain",
    data() {
      return {
        activeName:"first",
        iconClass:"el-icon-star-off",
        color:"",
        keywords: "",
        totals: 0,
        playList: [],
        currIndex: 0,
        dialogFormVisible: false,
        songList: {},
        form: {
          region: '',
        },
        user:[],
        formLabelWidth: '120px'
      };
    },
    methods: {
      handleClick(tab, event) {
        // console.log(tab, event);
      },
      //跳转到用户资料页
      togUser(id) {
        console.log(id)
        this.$router.push("/friendInfo/"+id)
      },
      searchUser() {
        this.$router.push("/")
      },
      //播放音乐
      playMusicList(row) {
        // console.log(row.id);
        this.getMusicUrl(row.id);
        this.getMusicMenu(row.id);
      },
      //加入收藏
      addCollect(id) {
        this.currIndex = id;
        this.dialogFormVisible = true
        console.log("搜索歌曲的id："+this.currIndex)
        // console.log(id);
      },
      //获取搜索的所有歌曲
      getSearchAll(keywords, limit, offset, type) {
        getSearchAll(keywords, limit, offset, type).then((res) => {
          // console.log(res);
          this.totals = res.result.songCount;
          this.playList = res.result.songs;
          // console.log(this.totals);
          // console.log(this.playList);
        });
      },
      //设置当前播放地址
      getMusicUrl(id) {
        getMusicUrl(id).then((res) => {
          this.$store.commit(NOW_MUSIC, res.data[0].url);
        });
      },
      //设置当前播放信息
      getMusicMenu(id) {
        getMusicMenu(id).then((res) => {
          this.$store.commit(NOW_MUSICMENU, res.songs[0]);
        });
      },
      //xuqy：收藏歌曲
      addSongToSongList(songId,SongListId){
        this.dialogFormVisible = false
        console.log(songId+"|"+SongListId)
        this.$axios.post("http://127.0.0.1:80/song/addSongToSongList/"+songId+"/"+SongListId)
        .then(res=>{
          console.log(res)
          if (res.data.code==200){
            this.$notify({
              title: '成功',
              message: res.data.msg,
              type: 'success'
            });
            // this.
            // this.color='color:blue'
          }else {
            this.$notify.error({
              title: '错误',
              message: res.data.msg
            });
          }
        })
      },
    },
    created() {
      // this.getSearchAll();
      this.keywords = this.$route.params.keywords;
      // console.log(this.keywords);
      this.getSearchAll(this.keywords, 30, 0, 1);
      this.$axios.get("http://127.0.0.1:80/user/searchUser/"+this.keywords).then(res=>{
        this.user = res.data.data
        // console.log(this.faned)
      })
    },
    computed: {
      ...mapGetters(["getUserSonglist"]),
    },
    filters: {
      showTime(value) {
        return timeFormat(value);
      },
    },
    watch: {
      // 利用watch方法检测路由变化：
      $route: function (to, from) {
        // 拿到目标参数 to.params.id 去再次请求数据接口
        // console.log(to.params.keywords);
        if (to.params.keywords === undefined) return;
        this.keywords = to.params.keywords;
        this.getSearchAll(this.keywords, 30, 0, 1);
        this.$axios.get("http://127.0.0.1:80/user/searchUser/"+this.keywords).then(res=>{
          this.user = res.data.data
          // console.log(this.faned)
        })
      },
    },
  };
</script>

<style scoped>
  .icon i {
    color: #ccc;
    font-size: 17px;
    margin-right: 5px;
  }

  .icon:hover i {
    color: red;
  }

  .search {
    width: 100%;
    max-height: 630px;
    padding-top: 25px;
    overflow: auto;
  }
  /*hr{*/
  /*  border: none;*/
  /*  height: 2px;*/
  /*  background-image: linear-gradient(to right, rgba(0, 0, 0, .01),*/
  /*  rgba(0, 0, 0, .4), rgba(0, 0, 0, .01))*/
  /*}*/
</style>
