<template>
  <div class="friends">
    <div class="friend-main">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="我的粉丝" name="first" class="tabs">
          <div class="friend-user">
            <div class="friend-box" v-for="item in friends" :key="item.id">
              <img :src='item.imgs'
                   alt='404'
                   @click="togUser(item.userId)"/>
              <p>{{item.userName}}</p>
            </div>
          </div>
        </el-tab-pane>
        <el-tab-pane label="我的关注" name="second" class="tabs">
          <div class="friend-user">
            <div class="friend-box" v-for="item in faned" :key="item.id">
              <img :src="item.imgs"
                   alt='404'
                   @click="togUser(item.userId)"/>
              <p>{{item.userName}}</p>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
  import {getUserFollows} from "network/login";

  export default {
    name: "Friends",
    data() {
      return {
        imgs:"https://img2.woyaogexing.com/2020/12/19/09c15f3da83640fa91a45011766e5975!400x400.jpeg",
        activeName: 'first',
        currentUserInfo:
          window.localStorage.getItem("currentUserInfo") === "null"
            ? null
            : JSON.parse(window.localStorage.getItem("currentUserInfo")),
        friends: [],
        faned:[],
      };
    },
    methods: {
      //获取用户的朋友们数据
      getUserFollows(uid) {
        this.$axios.get("http://127.0.0.1:80/getFansByUserId/"+uid).then(res=>{
          this.friends = res.data.data
        })
      },
      getUserFaned(uid) {
        this.$axios.get("http://127.0.0.1:80/getFanedByuserId/"+uid).then(res=>{
          this.faned = res.data.data
          // console.log(this.faned)
        })
      },
      handleClick(tab, event) {
        // console.log(tab, event);
      },
      //跳转到用户资料页
      togUser(id) {
        console.log(id)
        this.$router.push("/friendInfo/"+id)
      }
    },
    created() {
      if (this.currentUserInfo) {
        this.getUserFollows(this.currentUserInfo.userId);
        this.getUserFaned(this.currentUserInfo.userId);
      }
    },
  };
</script>

<style scoped>
  .tabs{
    padding: 0 10px;
    text-align: center;
    border-radius: 5px;
  }
  .friends {
    width: 100%;
    max-height: 630px;
    overflow: auto;
    padding-top: 30px;
  }

  .friend-main {
    width: 90%;
    margin: 0 auto;
  }

  .friend-main h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .friend-user {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
  }

  .friend-box {
    width: 12%;
    margin-right: 20px;
  }

  .friend-box img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
  }

  .friend-box p {
    text-align: center;
    margin-top: 15px;
    color: #888;
  }

  .friend-box p:hover {
    color: #333;
    cursor: default;
  }
</style>
