<template>
    <div style="margin-top: 30px">
      <div style="float: left;margin-left: 2%">
        <div class="demo-fit">
          <div class="block" v-for="fit in fits" :key="fit">
            <el-avatar shape="circle" :size="200" :fit="fit" :src="user.imgs"></el-avatar>
          </div>
          <center>
            <img v-if="user.sex === '1'" src="http://47.115.140.130:8080/sexImgs/man.png" style="height: 20px;width: 20px;margin-top: 5%">
            <img v-if="user.sex === '2'" src="http://47.115.140.130:8080/sexImgs/woman.png" style="height: 20px;width: 20px;margin-top: 5%">
          </center>
        </div>
      </div>
      <div style="float: left;margin-left: 2%;width: 64%;margin-top: 1%;">
        <div>
          <div>
            <a style="font-size: 24px;font-weight:bold;margin-left: 3%">{{user.userName}}</a>
            <el-button round v-if="this.faned == '0'" icon="el-icon-plus" style="float: right" @click="guanZhu()">关注</el-button>
            <el-button round v-if="this.faned == '1'" icon="el-icon-check" style="float: right" @click="quXiaoGuanZhu()">已关注</el-button>
          </div>
        </div>
        <br>
        <hr/>
        <div>
          <div style="margin-top: 2%">
          <div style="width: 10%;float: left;border-right: 1px solid #8c8b8b;=">
            <center>
            <a style="color: black">
              <strong style="font-size: 20px;font-weight:bold">{{follows}}</strong><br>
              <span style="line-height: 200%;color: #808080;">关注</span>
            </a>
            </center>
          </div>
          <div style="width: 10%;float: left">
            <center>
            <a style="color: black">
              <strong style="font-size: 20px;font-weight:bold">{{fans}}</strong><br>
              <span style="line-height: 200%;color: #808080;">粉丝</span>
            </a>
            </center>
          </div>
        </div>
        </div>
        <br>
        <div style="margin-left: 3%;margin-top: 7%">
          <div style="float: left;color: #808080">简介：</div>
          <div style="width: 60%;margin-right: 40%;float: right">
            <p style="line-height: 150%;text-indent: 3em;">{{user.userSummary}}</p>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import {checkFaned, getFansNum, getUserInfo, guanZhuShu, quXiaoGuanZhu} from "../../../network/user";

    export default {
      name: "FriendInfo",
      data() {
        return {
          user: [],
          currentUserInfo:
            window.localStorage.getItem("currentUserInfo") === "null"
              ? null
              : JSON.parse(window.localStorage.getItem("currentUserInfo")),
          faned:'0',
          follows: '0',
          fans: '0',
          fits: ['fill'],
        }
      },
      methods: {
        getUserInfo(){
          getUserInfo(this.$route.params.userId).then(res=>{
            console.log(res)
            this.user = res.data
          })
        },
        checkFaned(){
          checkFaned(this.currentUserInfo.userId,this.$route.params.userId).then(res=>{
            console.log("是否关注："+res.data)
            this.faned = res.data
          })
        },
        //取消关注
        quXiaoGuanZhu(){
          var fanId = this.$route.params.userId
          var currentUserId = this.currentUserInfo.userId
          this.$axios.delete('http://127.0.0.1:80/deleteFanedByuserId/'+fanId+'/'+currentUserId).then(res=>{
            console.log("取消关注成功")
            this.$message({
              message: '取消关注成功',
              type: 'success'
            });
            // this.$router.push('/friends')
            location.reload()
          })
        },
        //关注
        guanZhu(){
          var fanId = this.$route.params.userId
          var currentUserId = this.currentUserInfo.userId
          this.$axios.post("http://127.0.0.1:80/addFans/"+fanId+"/"+currentUserId).then(res=>{
            console.log("关注成功")
            this.$message({
              message: '关注成功',
              type: 'success'
            });
            // this.$router.push('/friends')
            location.reload()
          })
        },
        guanZhuShu(){
          guanZhuShu(this.$route.params.userId).then(res=>{
            console.log("关注数："+res.data)
            this.follows = res.data
          })
        },
        getFansNum(){
          getFansNum(this.$route.params.userId).then(res=>{
            console.log("粉丝数："+res.data)
            this.fans = res.data
          })
        }
      },
      created(){
        console.log("created")
        this.checkFaned()
        this.getUserInfo()
        this.guanZhuShu()
        this.getFansNum()
      },
    }
</script>

<style scoped>

</style>
